body{
    background-color: #110d22;
    color: #ffffff;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li{
    width: 100%;
    height: 100%;
    padding: 1em;
}

ul li figure{
    width: auto;
    height: auto;
}


ul li figure img{
    max-width: auto;
    height: auto;
}